<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect /admin to /admin/login.html -->
        <rule name="Redirect admin root to login" stopProcessing="true">
          <match url="^admin$" />
          <action type="Redirect" url="admin/login.html" redirectType="Found" />
        </rule>
        <!-- Redirect /admin/ to /admin/login.html -->
        <rule name="Redirect admin root slash to login" stopProcessing="true">
          <match url="^admin/$" />
          <action type="Redirect" url="admin/login.html" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\DindoriPranitAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
